html {
  background-color: #2A303C;
}
header {
  padding: 10px;
  color: #628162;
  font-weight: normal;
  font-size: 165%;
  font-family: "Arial Black", arial, sans-serif;
  background-color: #EEEDDB;
  border: solid 3px #415A61;
  width: 100%;
  box-sizing: border-box;
}
header h1{
  margin: 0;
}
header p{
  margin:0;
}
/* Site Navigation*/
.sitenav{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.sitenav ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
   
}

.sitenav li {
  list-style: none;
  float: left;
}
.sitenav a{
  display: block;
  text-decoration: none;
  color: #628162;
  padding: 10px 10px;
  border: 3px solid #415A61;
  margin: 0px 20px;
  background-color: #EEEDDB;
  
}

.sitenav a:hover{
  background-color: #ACBC8B
}
/* End Site Navigation*/
body {
  font-family: Arial, sans-serif;
  font-size: 87%;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right:auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    overflow: auto;
}

.main-box {
    width: auto;
    box-sizing: border-box;
}
.main-box .text {
    width: 640px;
    float:left;
    margin-left: 10px;
    display: block;
    color: #28303C;
}
aside {
    float: left;
    width: 340px;
    background-color: #628162;
    padding: 20px 20px;
    box-sizing: border-box;
}
aside img {
    width: 95%;
}
.fix {
    clear: both;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;

}
.main-box {
    background-color: #EEEDDB;
    float: left;
    border: 3px solid #415A61;
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}
h2 {
  font-size: 125%;
  font-family: "Arial Black", arial, sans-serif;
  padding: 10px;
  color: #628162;
}
footer {
    display: block;
    text-align: center;
    color: #EEEDDB;
}