html {
  background-color: #2A303C;
}
header {
  padding: 10px;
  color: #628162;
  font-weight: normal;
  font-size: 165%;
  font-family: "Arial Black", arial, sans-serif;
  background-color: #EEEDDB;
  border: solid 3px #415A61;
  width: 100%;
  box-sizing: border-box;
}
header h1{
  margin: 0;
}
header p{
  margin:0;
}
/* Site Navigation*/
.sitenav{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.sitenav ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
   
}

.sitenav li {
  list-style: none;
  float: left;
}
.sitenav a{
  display: block;
  text-decoration: none;
  color: #628162;
  padding: 10px 10px;
  border: 3px solid #415A61;
  margin: 0px 20px;
  background-color: #EEEDDB;
  
}

.sitenav a:hover{
  background-color: #ACBC8B
}
/* End Site Navigation*/
body {
  font-family: Arial, sans-serif;
  font-size: 87%;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right:auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    overflow: auto;
}

.main-box {
    width: auto;
    box-sizing: border-box;
}
.main-box .text {
    width: 640px;
    float:left;
    margin-left: 10px;
    display: block;
    color: #28303C;
}
aside {
    float: left;
    width: 340px;
    background-color: #628162;
    padding: 20px 20px;
    box-sizing: border-box;
}
aside img {
    width: 95%;
}
.fix {
    clear: both;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;

}
.main-box {
    background-color: #EEEDDB;
    float: left;
    border: 3px solid #415A61;
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}
h2 {padding: 10px;
  color: #628162;
  font-weight: normal;
  font-size: 165%;
  font-family: "Arial Black", arial, sans-serif;
  text-decoration: underline;
}
table {
  padding: 10px;
  border-collapse: collapse;
  width: 100%;
margin:-bottom: 20px;
}
table th {
  color: #628162;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: left;
text-decoration: underline;
  
}
table td a {
  font-family: arial, sans-serif;
  color: #28303C;
  text-decoration: none;
}
table td a:hover{
  color: #ACBC8B;
}
table td a:visited{
  color: #628162;
}
table td{
  vertical-align: top;
  color: #2A303C;
  padding-top: 10px;
}
table td ul{
  padding-top: 0px;
  vertical-align: top;
}
table th, table td {
  border-bottom: solid 3px #415A61;
  border-right: solid 3px #415A61;
  border-spacing: 0px;
  border-collapse: collapse;
}
table tr td:last-child {
  border-right: 0;}
  
  table th:last-child {
  border-right: 0;}
  
table tr:last-child td {
  border-bottom: 0;
}

.portfolio-images{
  padding: 0px;
  margin: 0px;
  text-align: justify;
}
.portfolio-images h2{
  text-align: left;
}

/* Styles the thumbnail */

a.lightbox img {
height: 150px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 20px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}

footer {
    display: block;
    text-align: center;
    color: #EEEDDB;
}
